<template name="header">

  <!-- Fixed navbar -->
  	<div class="navbar navbar-inverse">
  		<div class="container">
  			<div class="navbar-header">
  				<!-- Button for smallest screens -->
  				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
  				<a class="navbar-brand" href="{{pathFor 'home'}}">
  					<img src="/img/logo-header.png" alt="Techro HTML5 template"></a>
  			</div>
  			<div class="navbar-collapse collapse">
  				<ul class="nav navbar-nav pull-right mainNav">
  					<li><a href="{{pathFor 'home'}}">Home</a></li>
  					<!-- <li><a href="#">Sobre</a></li> -->
  					<!-- <li><a href="{{pathFor 'equipe'}}">Equipe</a></li> -->
            {{#if currentUser}}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{firstName}} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{pathFor 'perfil'}}">Meu perfil</a></li>
                {{#if isSuperAdmin}}
                <li><a href="/admin">Administração</a></li>
                {{/if}}
                <li><a href="#" class="logout">Sair</a></li>
              </ul>
            </li>
            {{else}}
  					<li><a href="{{pathFor 'login'}}">Login</a></li>
            {{/if}}


  				</ul>
  			</div>
  			<!--/.nav-collapse -->
  		</div>
  	</div>
  	<!-- /.navbar -->

</template>
