<template name="newUser">
        <form id="reg">
                <div class="form-group">
                  <label for="nome" class="control-label">Nome</label>
                  <input type="text" name="nome" placeholder="Nome Completo" class="form-control input-border" required>
                </div>
                <div class="form-group">
                  <label for="email" class="control-label">Email</label>
                  <input type="email" name="email" placeholder="E-mail" class="form-control input-border" required>
                </div>
                <div class="form-group" data-required="true">
                        <label for="tipo" class="control-label">Tipo</label>
                        <select name="tipo" id="xgPayLTzmwgzt22Go" required="" data-schema-key="categoria" autocomplete="off" class="form-control">
                            <option value="PF">Usuário</option>
                            <option value="PJ">Restaurante</option>
                            <option value="ADMIN">Administrador</option>
                        </select>
                      </div>
                <div class="form-group">
                  <label for="senha" class="control-label">Senha</label>
                  <input type="password" name="senha" placeholder="Senha" class="form-control input-border" required>
                </div>
                <div class="form-group">
                  <label for="confirmarSenha" class="control-label">Confirmar Senha</label>
                  <input type="password" name="confirmarSenha" placeholder="Confirmar Senha" class="form-control input-border" required>
                </div>
                <div class="form-group">
                  <!-- <input type="submit" value="Login"> -->
                  <button type="submit" class="btn btn-primary">Adicionar usuário</button>
                </div>
                <!-- <div class="form-group">
                  <input id="informativo" type="checkbox">
                  <label for="informativo"><span></span>Mantenha-me conectado.</label>
                </div> -->
                <!-- <hr> -->
              </form>
</template>
