<template name="login">

  <section id="login">
    <div class="loginPage">

  <div class="row">
    <div class="col-md-12">
      <img src="/img/logo_v.png" alt="" class="img-responsive linkadinho">
    </div>
  </div>

  <div class="form">

    <form class="register-form" id="reg" novalidate="novalidate">
      <input type="text" placeholder="Email" name="recoverEmail">
      <button type="submit" data-style="zoom-in" class="ladda-button recoverBtn btn btn-block">
            <span class="ladda-label">Recuperar Senha</span>
      </button>
      <p class="message"><a href="#">De volta ao login</a></p>
    </form>


    <form class="login-form" id="log" novalidate="novalidate">
      <input type="text" placeholder="Email" name="email">
      <input type="password" placeholder="Senha" name="senha">
      <button type="submit">login</button>
      <p class="message">Não tenho uma conta <a href="{{pathFor 'register'}}">Quero me registrar</a></p>
      <p class="message"><a href="#">Esqueci minha senha</a></p>
    </form>


  </div>
</div>
  </section>

</template>
