<template name="recoverPassword">
    <section id="login">
      <div class="loginPage">

      <div class="row">
        <div class="col-md-12">
          <img src="/img/logo.png" alt="" class="img-responsive linkadinho">
        </div>
      </div>


    <div class="form">

      <form class="login-form" id="rec">
        <input type="password" placeholder="Nova senha" name="senha"/>
        <input type="password" placeholder="Confirmar nova senha" name="confirmarSenha"/>
        <button type="submit">Redefinir Senha</button>
        <p class="message"><a href="{{pathFor 'login'}}">Lembrei minha senha</a></p>
      </form>

    </div>
  </div>
    </section>
  </template>
