<template name="register">

    <section id="login">
        <div class="loginPage">

      <div class="row">
        <div class="col-md-12">
          <img src="/img/logo_v.png" alt="" class="img-responsive linkadinho">
        </div>
      </div>

      <div class=" form">

        <form class="login-form" id="reg" novalidate="novalidate">
          <input type="text" placeholder="Nome" name="nome">
          <input type="text" placeholder="Email" name="email">
          <input type="password" placeholder="Senha" name="senha">
          <input type="password" name="confirmarSenha" placeholder="Confirmar Senha" class="form-control input-border" required>
          <button type="submit">Registrar</button>
          <p class="message">Já tenho uma conta <a href="{{pathFor 'login'}}">Fazer login</a></p>
        </form>


      </div>
    </div>
      </section>

<!-- <div class="container">
  <div class="row">
    <div class="col-md-16">
    <div class="row text-center">
      <h2>CADASTRAR</h2>
    </div>
  </div>
  <div class="col-md-4 col-md-offset-4">
    <form id="reg">
      <div class="form-group">
        <input type="text" name="nome" placeholder="Nome Completo" class="form-control input-border" required>
      </div>
      <div class="form-group">
        <input type="email" name="email" placeholder="E-mail" class="form-control input-border" required>
      </div>
      <div class="form-group">
        <input type="password" name="senha" placeholder="Senha" class="form-control input-border" required>
      </div>
      <div class="form-group">
        <input type="password" name="confirmarSenha" placeholder="Confirmar Senha" class="form-control input-border" required>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success">CADASTRAR</button>
      </div>
    </form>
  </div>
  <div class="col-md-4 col-md-offset-4">
    <a class="login" href="{{pathFor 'login'}}" title="Cadastrar">Já tenho conta.<span> Quero Logar</span></a>
  </div>
  </div>
</div> -->
</template>
